body,head,header,footer,section,a,nav,
li,ul,progress,html,details,summary,img,
p,h1,h2,meta,title,label{
	padding:0px;
	border:0px;
	margin:0px;
}

header{
	height:10%;
	width:100%;
	position:absolute;
	background:#2a7082;
	text-align: right;
	padding-top:10px;
	padding-right:50px;
}

body{
	background:#2c3a47;
}


h1{
	font-size:280%;
	color:#ffffff;
	cursor:context-menu;
	padding-right:50px;
}

main{
	width:55%;
	position:absolute;
	margin-top:8%;
	margin-left:1%;
	height:86%;
	background:#000;
	background-image:url("77589.jpg.png");
}

main p{
	font-size:240%;
	color:aqua;
	text-align:center;
	padding-top:420px;
}

aside{
	font-family:sans-serif;
	width:300px;
	height:40%;
	
}

.box{
	background:#191919;
	text-align:center;
	position:absolute;
	margin-top:8%;
	margin-left:64%;
	padding:40px;
	height:240px;
	width:330px;
}

.box h1{
	color:white;
	padding-top:10px;
	text-transform:uppercase;
	font-weight: 500;
}

.box input[type="text"],.box input[type="password"]{
	border:0;
	background:none;
	display:block;
	margin:20px auto;
	text-align:center;
	border:2px solid #3498db;
	padding:14px 10px;
	width:200px;
	outline:none;
	color:white;
	border-radius:24px;
	transition:0.25s;
}

.box input[type="text"]:focus,.box input[type="password"]:focus{
	width:280px;
	border-color:#2ecc71;
}

.box input[type="submit"]{
	border:0;
	background:none;
	display:block;
	margin:20px auto;
	text-align:center;
	border:2px solid #2ecc71;
	padding:14px 40px;
	width:150px;
	outline:none;
	color:white;
	border-radius:24px;
	transition:0.25s;
	cursor:pointer;
}

.box input[type="submit"]:hover{
	background:#2ecc71;
}

.fom{
	display:inline-block;
	background:#191919;
	text-align:center;
	position:absolute;
	margin-top:40%;
	margin-left:64%;
	padding:40px;
	height:40px;
	width:330px;
	color:white;
}

.fom p{
	font-style:italic;
	cursor:context-menu;
}

.fom a{
	color:pink;
	font-style:italic;
}

.fom a:hover{
	font-size:120%;
}

footer{
	margin-top:59%;
	position:absolute;
	width:100%;
	height:300px;
	background:#2a7082;
	text-align:center;
	justify-content: center;
	align-items: center;
}

.sn{
	font-size:120%;
	color:#6ab04c;
	font-family: sans-serif;
	text-align:center;
	margin-top:90px;
	display:inline-block;
	width:200px;
	height:30px;
	text-align:center;
	padding:10px 10px 10px 10px;
	cursor:context-menu;
}

.sm a{
	display:inline-block;
	color:#6ab04c;
	margin-top:20px;
	font-size:30px;
	width:80px;
	height:80px;
	line-height: 80px;
	transition:.4s linear;
	position:relative;
}

.sm a::before, .sm a::after{
	content: '';
	position:absolute;
	box-sizing: border-box;
	width:100%;
	height:100%;
	left:0;
	top:0;
	transition: .4s linear;
}

.sm a:hover{
	transform: scale(.8);
}

.sm a:hover::before{
	border-left:4px solid;
	border-right:4px solid;
	transform:skewX(20deg);
}

.sm a:hover::after{
	border-top:4px solid;
	border-bottom:4px solid;
	transform:skewY(-20deg);
}

.sn:hover{
	transform: scale(1.2);
}

.sn::before, .sn::after{
	box-sizing: border-box;
	left:0;
	top:0;
	transition: .4s linear;
}

.sn:hover::before{
	border-left:4px solid;
	border-right:4px solid;
	transform:skewX(20deg);
}